<!DOCTYPE html>
<html>
<head>
  <title>Blue and White Nav Bar</title>
  <link rel="stylesheet" type="nav.component.scss" >
  <link rel="icon" type="image/x-icon" href="../../../favicon.ico">
</head>
<body>

<div>
  <nav class="navbar">
    <ul >
      <span ><li><a (click)="redirectToHome()"  class="nav-btn">Home</a></li></span>
      <li><a (click)="redirectToAbout()" class="nav-btn">About</a></li>
      <li><a (click)="redirectToProfile()"  class="nav-btn">Your Profile</a></li>
      <li>
        <form>
          <input type="text" placeholder="Search..." [(ngModel)]="searchText">
          <button (click)="search()" type="submit">Search</button>
        </form>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>
